<%- include('header'); -%>
    <div class="box" id="heading">
        <h1> About ! </h1>
        <p>This site is made by @zoro2030, Trying new things exploring the node..... </p>
    </div>

    <div class="box">

                <div class="item">
                    <p> Enter Your Feedback</p>
                </div>

            <form class="item" action="/thank">
                <textarea name="text" id="" cols="30" rows="5"></textarea>
                <button type="submit" class="Feedback_Button" name="List">Send</button>
            </form>
    </div>
    
<%- include('footer'); -%>