    <footer>

            <a href="https://github.com/zoro2030"><i class="footer-icon fa-brands fa-github" style="color: #000000;"></i></i></a> 
            <a href="https://www.instagram.com/"><i class="footer-icon fa-brands fa-instagram" style="color: #06090f;"></i></a> 
            <a href="https://twitter.com/"><i class="footer-icon fa-brands fa-twitter" style="color: #05070b;"></i></a> 
            <a href="/about"><i class="footer-icon fa-solid fa-envelope" style="color: #05070b;"></i></a>

        <p> &copy Zoro </p>
    </footer>

</body>
</html>